services:
  db:
    restart: always

  api:
    restart: always
    command: >
      sh -c "gunicorn core.wsgi:application
      --bind 0.0.0.0:8000
      --workers $${GUNICORN_WORKERS:-3}"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env

  redis:
    restart: always
    ports: [ ]

  celery_worker:
    restart: always

  celery_beat:
    restart: always
    volumes: [ ]

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles:ro
      - media_volume:/app/media:ro
    depends_on:
      api:
        condition: service_started

volumes:
  postgres_data:
  static_volume:
  media_volume: